.navbar-brand {
    width: 1.5em;
}
.navbar {
    margin-right: 0em;
    padding-right: 0em;
}

.bg-particles {
    position:fixed;
    width:100%;
    height:100%;
    z-index:-1000;
    background-color: rgb(85, 0, 85);
}
.posts-box {
    background-color: #343A40;
    color: white;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.upvote {
    width: 1.3em;
    height: 1.5em;
    margin-right: 0.5em;
}
.votebox {
    display: flex;
}
.post-input {
    background-color: #343A40;
    color: white;
    width: 100%;
    margin-top: 1em;
}
body {
    padding-top: 3.5em;
    overflow-x: hidden;
}